<h1 class="text-center mt-4">Edit the <%= @category.name %> category name</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
        <%= render 'form' %>
    </div>
    <div class="mb-3">
        <%= link_to '[ Cancel and return to category page ]', @category, class: "text-info" %>
    </div>
  </div>
</div>
